{% extends "base.html" %}

{% block content %}
<h1 class="mb-4 text-center">Mapa de Incidentes y Rutas de Transmilenio</h1>

<div class="row">
    <div class="col-12 col-lg-8 mb-4">
        <div class="card">
            <div class="card-header">
                <h2 class="card-title">Mapa Interactivo</h2>
            </div>
            <div class="card-body">
                <div id="map" style="height: 600px; width: 100%;"></div>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-4">
        <!-- Add your statistics or other content here -->
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<script src="https://unpkg.com/leaflet-polylinedecorator@1.6.0/dist/leaflet.polylineDecorator.js"></script>
<script src="https://unpkg.com/leaflet-fullscreen@1.0.2/dist/Leaflet.fullscreen.min.js"></script>
<script src="https://unpkg.com/leaflet-search@2.9.8/dist/leaflet-search.min.js"></script>
<script>
    // Pass any necessary data from the server to the client
    var incidents = {{ incidents|tojson|safe if incidents else '[]' }};
    
    // Wait for the DOM to be fully loaded before initializing the map
    document.addEventListener('DOMContentLoaded', function() {
        console.log('DOM fully loaded');
        var mapScript = document.createElement('script');
        mapScript.src = "{{ url_for('static', filename='js/map.js') }}";
        mapScript.onload = function() {
            console.log('map.js loaded');
            if (typeof initMap === 'function') {
                console.log('Calling initMap from dashboard.html');
                initMap();
            } else {
                console.error('initMap function not available in dashboard.html');
            }
        };
        document.body.appendChild(mapScript);
    });
</script>
{% endblock %}
